:root {
    --text-primary: #eed1c7;
    --text-secondary: #bda3a3;
    --accent: #dba895;
    --accent-opacity: #0702012a;
    --bg-color: #000000;
    --elevation-one: #000000;
    --elevation-two: #000000;
    --elevation-three: #1e1a1a;
    --elevation-four: #0000003a;
    --elevation-five: #000000;
    --elevation-six: #0a0808bb;
}
